{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "mocha": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0, //FIXME: Says "Parse errors in imported module" but there is none
    "import/named": 0, //FIXME: Says "Parse errors in imported module" but there is none
    "react/no-multi-comp": 0, //FIXME: functional components not allowed
    "no-unused-expressions": 0, //FIXME: tests (and only tests) need this disabled
    "require-jsdoc": 0, //not everyone is using WebStorm and won't benefit from the jsdoc types
    "arrow-parens": 0 //flowtype breaks this
  },
  "extends": "jameslnewell/react"
}
